{
  "dataset_configs": {
    "dataset_root": "dataset/CIFAR10",
    "train_val_batch_size": 128,
    "test_batch_size": 100,
    "val_split": 0.1,
    "num_workers": 4,
    "download_train": false,
    "download_val": false,
    "download_test": false
  },

  "base": {
    "num_students": 2,
    "activation_network_path": "filter_activation_network/default_teacher.pkl",
    "student_model_path": "models/student/default_student.pt7",
    "teacher_model_path": "models/teacher/default_teacher.pt7",
    "deploy_dir_path": "deploy/deployment_files",
    "num_classes": 10,
    "deploy_target": "llvm",
    "deploy_ips": ["192.168.1.140","192.168.1.118"],
    "deploy_ports": [9090, 9091]
  },

  "teacher": {
    "gpu_id": "0",
    "epochs": 200,
    "parallel": false,
    "resume": false,
    "mode": "train_and_partition",
    "log_file": "default_teacher.csv"
  },

  "student": {
    "gpu_id": "0",
    "epochs": 200,
    "parallel": false,
    "resume": false,
    "alpha": 0.9,
    "temperature": 4,
    "beta": 10000,
    "log_file": "default_student.csv",
    "inference_log_file": "default_student_inference.csv"
  }
}