{
  "dataset_configs": {
    "dataset_root": "dataset/CIFAR10",
    "train_val_batch_size": 128,
    "test_batch_size": 100,
    "val_split": 0.1,
    "num_workers": 4,
    "download_train": true,
    "download_val": false,
    "download_test": false
  },

  "base": {
    "num_students": 2,
    "activation_network_path": "filter_activation_network/wrn404.pkl",
    "student_model_path": "models/student/swrn161_twrn404.pt7",
    "teacher_model_path": "models/teacher/wrn404.pt7",
    "deploy_dir_path": "deploy/deployment_files",
    "num_classes": 10,
    "deploy_target": "llvm",
    "deploy_ips": ["192.168.1.140","192.168.1.118"],
    "deploy_ports": [9090, 9091]
  },

  "teacher": {
    "depth": 40,
    "widen_factor": 4,
    "dropout": 0.2,
    "gpu_id": "0",
    "epochs": 200,
    "parallel": false,
    "resume": false,
    "mode": "partition",
    "log_file": "twrn404.csv",

    "filter_activation_network": {
      "top_k_creation": 50,
      "top_k_partition": 128,
      "percentile_value": 99
    },

    "batch_size": 128,

    "optim_config": {
      "optimizer": "SGD",
      "lr": 0.1,
      "momentum": 0.9,
      "weight_decay": 5e-4
    },

    "lr_scheduler": {
      "scheduler": "StepLR",
      "step_size": 10,
      "gamma": 0.2
    }
  },

  "student": {
    "depth": 16,
    "widen_factor": 1,
    "dropout": 0,
    "gpu_id": "0",
    "epochs": 200,
    "parallel": false,
    "resume": false,
    "alpha": 0.9,
    "temperature": 4,
    "beta": 10000,
    "mode": "train",
    "split_index": -1,
    "log_file": "swrn161_twrn404.csv",
    "inference_log_file": "swrn161_twrn404_infr.csv",

    "lr_scheduler": {
      "scheduler": "StepLR",
      "step_size": 20,
      "gamma": 0.2
    },

    "optim_config": {
      "optimizer": "SGD",
      "lr": 0.01,
      "momentum": 0.9,
      "weight_decay": 5e-4
    }
  }
}